@model MVC.Models.factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_productos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_productos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Factura", "Edit", new { id = Model.cod_factura }) |
    @Html.ActionLink("Aras", "Index")
</p>
